{% extends 'layout.html' %}
{% block content %}
<h2 class="title is-4 mb-4">Создать событие</h2>
<form method="post">
  <b-field label="Название">
    <b-input name="title" required></b-input>
  </b-field>
  <b-field label="Описание">
    <b-input name="description" required></b-input>
  </b-field>
  <b-field label="Категория">
    <b-select name="category">
      <option value="meet">Встреча</option>
      <option value="sport">Спорт</option>
      <option value="party">Тусовка</option>
    </b-select>
  </b-field>
  <b-field label="Безопасная точка">
    <b-checkbox name="is_safe"></b-checkbox>
  </b-field>
  <b-field label="Широта">
    <b-input name="lat" type="number" step="any" required></b-input>
  </b-field>
  <b-field label="Долгота">
    <b-input name="lng" type="number" step="any" required></b-input>
  </b-field>
  <div class="mt-4">
    <button class="button is-primary" type="submit">Добавить</button>
  </div>
</form>
{% endblock %}
