{% extends 'layout.html' %}
{% block content %}
<h2 class="title is-4 mb-3">Гео-Карта живых событий</h2>
<div class="columns">
  <div class="column">
    <b-field label="Поиск">
      <b-input id="search" placeholder="Название"></b-input>
    </b-field>
  </div>
  <div class="column">
    <b-field label="Пол">
      <b-select id="filterGender">
        <option value="">Любой</option>
        <option value="male">Мужской</option>
        <option value="female">Женский</option>
      </b-select>
    </b-field>
  </div>
  <div class="column">
    <b-field label="Категория">
      <b-select id="filterCategory">
        <option value="">Все</option>
        <option value="meet">Встреча</option>
        <option value="sport">Спорт</option>
        <option value="party">Тусовка</option>
      </b-select>
    </b-field>
  </div>
  <div class="column">
    <b-field label="Безопасные">
      <b-checkbox id="filterSafe"></b-checkbox>
    </b-field>
  </div>
</div>
<div id="map" style="height:500px;"></div>
<a href="/create-event" class="button is-primary fab">
    <span class="icon"><i class="fas fa-plus"></i></span>
</a>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
